* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.subtitle{
  display:flex;
  gap:1rem;
  list-style-type:none;
  margin-bottom:50px;
  margin-top:50px;
  padding-left:0;
}
.goBack:hover{
  text-decoration: underline;
}

.live-title{
  
  margin-bottom:50px;
  
}


.product{
  border: 1px solid black;
  height:50px;
  border-radius:50px;
  margin-bottom:20px;
  display:flex;
  justify-content:space-between;
  padding:0 20px;
  align-items:center;

  
}
.product:hover{
  background-color:#D5ED9E;
}
.icons{
  display:flex;
  justify-content:space-between;
  gap:30px;
}
.category{
  margin-bottom:20px;
}
.card{
  transition: transform .2s;
}
.card:hover{
  transform: scale(1.1);
}
.item-list{
  margin-bottom:30px;
}

