/*
#00712D DARK GREEN
#D5ED9F LIGHT GREEN
#FFFBE6 BEIGE
#FF9100 ORANGE
*/

/*
The global css style file
only put the global styles
*/

body {
    font-family: Arial, sans-serif;
    background-color: #FFFBE6;
    padding-top: 200px;
}

a {
  text-decoration: none;
  color: #00712D;
}


.roboto-font {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
