

/*
#00712D DARK GREEN
#D5ED9F LIGHT GREEN
#FFFBE6 BEIGE
#FF9100 ORANGE
*/

/*
The global css style file
only put the global styles
*/

body {
    font-family: Arial, sans-serif;
    background-color: #FFFBE6;
    padding-top: 200px;
}

a {
  text-decoration: none;
  color: #00712D;
}


.roboto-font {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 200px;
  color: #00712D;
  text-align: center;
  background-color: #D5ED9F;
  padding: 20px;
}

/*navbar*/
.wrapper {
  zindex: 10;
}

.container-fluid {
  margin: 0 20px;
}

nav {
  background-color: #FFFBE6 !important;
}

.navbar {
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.offcanvas {
  background-color: #FFFBE6;
  height: 1000px;
  min-height: 0;
}

.navbar-hidden {
  transform: translateY(-100%);
}

.navbar-fixed {
  transform: translateY(0);
  box-shadow: 0px 4px 6px rgba(255,145,0, 0.2);
}

.navbar-brand img {
  with: 150px;
  height: 150px;
}

.nav-item {
  display: inline-block;
}

.nav-link {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  color: #FF9100;
  font-size: 16px;
  transition: transform 0.3s ease-in-out;
}

.nav-link span {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-link:hover {
  color: #FF9100;
  transform: translateY(-3px);
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; /* hidden */
  height: 2px;
  background-color: #FF9100;
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
}


.nav-link:hover::after {
  width: 100%; 
}

.nav-link.active {
  color: #00712D !important;
  font-weight: bold;
}

.nav-link.active::after {
  content: "";
  transform: scaleY(0);
}

.nav-link:focus {
  color: #FF9100; 
}

.nav-link .material-icons {
  width: 17px;
  height: 17px;
  color: #FF9100;
  text-align: center;
  vertical-align: middle;
}


/*navbar-search*/
.btn-search {
  width: 50px;
  height: 50px;
}

.btn-search span {
  text-align: center;
  vertical-align: middle;
}

/*footer*/
.footer-link {
  color: #333333;
  font-size: 17px;
}

.footer-link:hover {
  color: #FF9100;
}

.nav .footer-item {
  margin: 6px 0;
}


.footer-text {
  text-align: left;
}

.signup {
  min-width: 400px;
  max-height: 400px;
  margin: 0 auto;
  padding: 50px 0;
  border: 1px dashed green;
  text-align: left;
}

.signup .content div{
  padding: 8px 0;
}

.signup .title {
  font-size: 20px;
}
